@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Noto+Serif&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');

:root{
    --baseColor:black;
    --black : rgb(12, 12, 12);
    --white : rgb(245, 245, 245);
    --yellow : #F2AA4CFF;
    /* --yellow : #D7B941; */
    --styleFont : 'Playfair Display SC', serif;
    --headingFont : 'Noto Serif', serif;
    --paraFont : 'Poppins', sans-serif;
}

*{
  padding: 0px;
  margin: 0px;
}

body{
  background-color: var(--baseColor);
  color: var(--white);
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--headingFont);
}

p{
  font-family: var(--paraFont);
}

li{
  font-family: var(--headingFont);
}

.btn{
  margin-top: 20px;
  padding: 10px 30px;
  font-family: var(--headingFont);
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--black);
  background-color: var(--yellow);
  border: none;
  border-radius: 2px;
  transition: .3s ease;
  outline: none;
  transition: .7s ease;
  clip-path: polygon(0 0, 100% 10%, 100% 90%, 0% 100%);
}
.btn:hover{
  color: var(--black);
  box-shadow: 0px 4px 10px var(--yellow);
  cursor: pointer;
  transform: translateY(-10px);
}
.btn:active{
  border: none;
  outline: none;
}

a, a:hover, a:active{
  text-decoration: none;
  color: var(--yellow);
}

.blur{
  position: absolute;
  background-size: calc(0,0, 0,);
  background-color: var(--yellow);
  width: 200px;
  height: 200px;
  filter: blur(150px);
  z-index: -9;
  transition: .7s ease;
  animation: zoom 5s infinite linear;
}

@keyframes zoom {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}
.content{
  margin-left:80px;
  transition: all ease .3s;
}
#toggle:checked ~ .content{
  margin-left: 270px;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background:var(--baseColor);
  width: 10px
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:var(--yellow);
  border-radius: 30px;
  cursor: pointer;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--yellow)
}

@media screen  and (max-width:768px) {
  #toggle:checked ~ .content{
    margin-left: 80px;
  }
  body{
    overflow-y: auto;
   
  }
}
